.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 60%;
  margin: 0 auto;
}

.wrapper > div {
  flex-basis: 50%;
}

.wrapper > div:nth-child(2) {
  margin-left: 20px;
}

.wrapper p {
  border: 1px solid black;
  padding: 6px 10px;
  margin-bottom: 10px;
}
